<!DOCTYPE html>
<html>

<head>
    <title>Analisis de Sentimientos</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- css -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,700,800" rel="stylesheet" media="screen">

    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" media="screen">
    <link href="{{ url_for('static', filename='color/default.css') }}" rel="stylesheet" media="screen">

    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>

</head>

<body onload="cargar()">

    <!-- Navigation -->
  
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle nav</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

                <!-- Logo text or image -->
                <a class="navbar-brand" href="index.html">JANMP</a>

            </div>
            <div class="navigation collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="current"><a href="#intro">Inicio</a></li>
                    <li><a href="#parte1">Parte 1</a></li>
                    <li><a href="#parte2">Parte 2</a></li>
                    <li><a href="#parte3">Parte 3</a></li>
                    <li><a href="#team">Integrantes</a></li>
                    
                </ul>
            </div>
        </div>
    </nav>

    <!-- intro area -->
    <section id="intro">
        <div class="intro-container">
            <div id="introCarousel" class="carousel slide carousel-fade" data-ride="carousel">

                <div class="carousel-inner" role="listbox">
                    <!-- Slide 1 -->
                    <div class="item active">
                        <div class="carousel-background"><img src="{{ url_for('static', filename='img/intro/fondo1.png') }}" alt=""></div>
                        <div class="carousel-container">
                            <div class="carousel-content">
                                <h2 class="animated fadeInDown">Analisis De Sentimientos</h2>
                                <p class="animated fadeInUp">Enfocado en los tweets de las personas con respecto al covid-19</p>
                            </div>
                        </div>
                    </div>
                    <!-- Pegar si desean Slide 2 -->
                </div>
            </div>
    </section>
    <!-- #intro -->

    <!-- About -->
    <section id="parte1" class="home-section bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="section-heading">
                        <h2>Parte 1</h2>
                        <div class="heading-line"></div>
                        <p>Similitud en los Corpus del Tweet con Diccionario de Sentimientos </p>
                        <input type="number" min="0" id="cantidad" name="cantidad" placeholder="Ingrese Cantidad de Tweets" required="required">
                        <input type= "button" id="boton" value="Consultar" onclick="graficar()" >
                        <div id='loadingmessage' style='display:none'>
       <img src='{{ url_for('static', filename='img/ajax-loader.gif') }}'/>
       </div>
                        
                        <table class="table table-borderless">
                        <thead >
                        <tr>
                        <th></th><th>Jaccard</th><th >Coseno Vectorial</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                        <td>Positivos</td><td id="jp">0%</td><td id="cp">0%</td>
                        </tr>
                        <tr>
                        <td>Negativos</td><td id="jn">0%</td><td id="cn">0%</td>
                        </tr>
                        <tr>
                        <td>Neutros</td><td id="jne">0%</td><td id="cne">0%</td>
                        </tr>
                        <tr>
                        <td>Total Tweets</td><td id="jt">0</td><td id="ct">0</td>
                        </tr>
                        </tbody>
                        </table>
                        
              <div style="width:100%">  
                <div id="container" style="display:none;float:left;width:45%;height:310px;"></div>
                <div id="container1" style="display:none;float:right;width:45%; height:310px;"></div>
              </div>
                        <table id="tablat" class="table" style='display:none'>
                        <thead class="thead-light">
                        <tr>
                        <th>ID</th><th>Tweets</th><th>Jaccard</th><th>Coseno Vectorial</th>
                        </tr>
                        </thead>
                        <tbody style="text-align:left"></tbody>
                        </table>
                        
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>


  <section id="parte2" class="home-section bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="section-heading">
                        <h2>Parte 2</h2>
                        <div class="heading-line"></div>
                        <p> Algoritmo de Clasificacion Maquina de Soporte Vectorial</p>
                        <label>Matriz de Confusión</label>
                        <table id ="mtc">
                        </table>
                                          <label id ="pp">Porcentaje de Positivos : 0</label>
<label id="pn">Porcentaje de Negativos : 0</label>
<label id="pe">Porcentaje de Error : 0</label>
<label id="pm">Precision del modelo : 0</label>
                      </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Works -->
    <section id="parte3" class="home-section bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="section-heading">
                        <h2>Parte 3</h2>
                        <div class="heading-line"></div>
                        <p> Textblob's para
encontrar directamente el sentimiento de un nuevo tweet basado en su corpus.</p>
<input type="text" id="tweet" placeholder="Ingrese un Tweet" required="required">
                        <input type= "button" id="boton1" value="Consultar" onclick="consulta()" >
                        <div id='loadingmessage1' style='display:none'>
       <img src='{{ url_for('static', filename='img/ajax-loader.gif') }}'/>
       </div>
                        <br>
                        <label>Tweet</label><br>
                        <label id = "tw" style="text-align:justify;font-weight: normal;"></label>
                        <br>
                        <label id = "pol">Polaridad: 0</label>
                         <br>
                        <label id="subj">Subjetividad: 0</label>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Team -->
    <section id="team" class="home-section bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-2 col-md-8">
                    <div class="section-heading">
                        <h2>Grupo de Trabajo</h2>
                        <div class="heading-line"></div>
                        <p>Expertos en investigación y desarrollo.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <div class="box-team wow bounceInUp" data-wow-delay="0.1s">
                        <img src="{{ url_for('static', filename='img/team/nico.PNG') }}" alt="" class="img-circle img-responsive" />
                        <h4>Nicolas Carrasco</h4>
                        <p>Integrante "Anonymus"</p>
                        <p>El Bravo</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" data-wow-delay="0.3s">
                    <div class="box-team wow bounceInUp">
                        <img src="{{ url_for('static', filename='img/team/majo.PNG') }}" alt="" class="img-circle img-responsive" />
                        <h4>Maria Jose Jacome</h4>
                        <p>Novia del Anonymus</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" data-wow-delay="0.5s">
                    <div class="box-team wow bounceInUp">
                        <img src="{{ url_for('static', filename='img/team/paul.PNG') }}" alt="" class="img-circle img-responsive" />
                        <h4>Paul Pazos</h4>
                        <p>El Bufón</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" data-wow-delay="0.7s">
                    <div class="box-team wow bounceInUp">
                        <img src="{{ url_for('static', filename='img/team/ali.PNG') }}" alt="" class="img-circle img-responsive" />
                        <h4>Alisson Mendoza</h4>
                        <p>Analista y Recicladora</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3" data-wow-delay="0.7s">
                    <div class="box-team wow bounceInUp">
                        <img src="{{ url_for('static', filename='img/team/jer.jpg') }}" alt="" class="img-circle img-responsive" />
                        <h4>Jersson Iza</h4>
                        <p>EL chevere</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p>Copyright &copy; JANMP. All rights reserved 2020.</p>
                    <div class="credits">
                        <!--
              All the links in the footer should remain intact.
              You can delete the links only if you purchased the pro version.
              Licensing information: https://bootstrapmade.com/license/
              Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Alstar
            -->
                        Diseñador por:
                        Nicolas Carrasco -
                        Jerrson Iza -
                        Maria Jose Jacome -
                        Alisson Mendoza -
                        Paul Pazos
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

    <!-- js -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/wow.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.scrollTo.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/jquery.nav.js') }}"></script>
    <script src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>
    <script src="{{ url_for('static', filename='js/grid.js') }}"></script>
    <script src="{{ url_for('static', filename='js/stellar.js') }}"></script>
    <!-- Contact Form JavaScript File -->
    <script src="{{ url_for('static', filename='contactform/contactform.js') }}"></script>

    <!-- Template Custom Javascript File -->
    <script src="{{ url_for('static', filename='js/custom.js') }}"></script>
    
</body>

</html>